/* Estilos generales */
body {
    font-family: font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 20; padding: 20;
    padding: 20;
    text-align: center;
    font-size: 1.2em;
}

/* Estilos para el encabezado */
header {
    background-color: rgb(250, 2, 2);
    color: white;
    padding: 30px;
    a {
        color: rgb(73, 70, 70);
        text-decoration: none;
 }
}
/* Estilos para títulos */
h1 {
    font-size: 3rem;
    color: rgb(248, 244, 244);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

h2, h3 {
    color: black;
}

/* Estilos para botones */
.button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: black;
}

/* Secciones */
.section {
    padding: 50px;
}

/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    a {
        color: rgb(73, 70, 70);
        text-decoration: none;
 }
}

li{
    display: inline;
    }

aside{float:left; width: 10%;
    height: 1500px; 
    background-color: rgb(250, 226, 226);
    
    }
    #productos {
        <h2 style="text-align:left: ;;">Productos</h2>
        width: 100%;
        border-collapse: collapse; 
        margin-top: 50px;
        margin-left:300px;
        
        
    }
    
    #productos th, 
    #productos td {
        border: 1px solid #f60505; 
        padding: 3px 7px 2px 7px; 
        text-align: left;
        font-size: 1em;
    }
    
    #productos th {
        background-color: #e8a8a6;
        color: rgb(5, 5, 5);
    }
    
    #productos tr:nth-child(even) {
        background-color: #f8f9fa;
    }
    
    #productos tr:hover {
        background-color: #e8a8a6;
    }
   #contacto {
    font-size: small;
   }
   
   #trabaja {
    font-size: 1em;
    display: inline-block;
}
#trabaja.etiq{
    float: right;
    weight:100px
   
}
